<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2>CRUD APP</h2>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form (submit)="insertNote($event)">
        <input required type="text" class="text-input" placeholder="Note Title" id="note_title">
        <textarea required class="text-area" placeholder="Note Description" id="note_description"></textarea>
        <input class="basic-button" type="submit" value="Insert">
      </form>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center" *ngFor="let note of notes">
      <p class="note-Title">{{note.note_title}}</p>
      <p class="note-Description text-uppercase">{{note.note_description}}</p>

      <button class="material-icons material-icon-btns" (click)="deleteNote(note._id)">delete_outline</button>
      <button class="material-icons material-icon-btns" (click)="show_and_hide_element(note._id)">edit</button>

      <div id="{{note._id}}" [ngStyle]="{'display': 'none'}">
        <form (submit)="updateNote($event,note._id)">
          <input value="{{note.note_title}}" class="text-input" placeholder="New Value" id="note_title_update">
          <textarea value="{{note.note_description}}" required class="text-area" placeholder="Note Description"
                    id="note_description_update"></textarea>
          <button class="material-icon-btns material-icons" type="submit">check</button>
        </form>
        <button class="material-icon-btns material-icons" (click)="show_and_hide_element(note._id)">cancel</button>
      </div>
    </div>
  </div>
</div>
